body {
  padding: 0px 0px 0px 30px;
}

h1, #matchfield {
  margin: 25px 0px 25px 0px;
}

#matchfield, td {
  border: 1px solid black;
  border-collapse: collapse;

}

td {
  padding: 70px;
  font-size: 50px;
}

td p {
  height: 50px;
  width: 50px;
  margin: 0px;
}
